body{
    background-color: #B3ADEF;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.chat{
    margin-top: 70px;
    width: 1100px;
    background-color: #FBF5FF;
    border-radius: 10px;
    height: 700px;
    display: flex;
    flex-direction: row;
}

.leftbar .rightbar {
    height: 100%;
}

.leftbar{
    width: 32%;
    background-color: #483d8b;
    display: flex;
    flex-direction: column;
    border-radius: 10px 0 0 10px;

}
.rightbar{
    width: 68%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightbar p{
    color: rgb(197, 189, 189);
    font-size: 30px;
}
.account{
    padding: 10px;
    background-color:#282061;
}
.center{
    display: flex; 
    flex-direction: row; 
}
.avatar img{
    align-self: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.username{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 5px;
    color: white;
    padding: 0 8px;
}

.line{
    height: 0.5px;
    background-color: white;
}
.logout{
    width: 60px;
    border-radius: 0px;
    background-color: darkslateblue;
    color:white;
    border: none;
    margin: 4px 2px;
    cursor: pointer;
}